# Игнорируем виртуальное окружение
venv/
_pycache_/
*.pyc
*.pyo
*.sqlite3

# Конфиденциальные данные
.env

# Логи
logs/
*.log

# Кэш pip
pip-log.txt
pip-delete-this-directory.txt

# Docker файлы, которые не нужны в Git
*.pid
"data/database.db"